{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{carlist.img.url}}" width="400" height="300"><br>
        </div>

    <div class="container">
        <h2>{{carlist.name}}</h2>
        <h4>{{carlist.desc}}</h4>
        <h5>{{carlist.mnum}}</h5>
        <h5>{{carlist.year}}</h5>
        <a class="btn btn-warning" href="{% url 'mylistapp:update' carlist.id%}">Update</a>
        <a class="btn btn-danger" href="{% url 'mylistapp:delete' carlist.id%}">Delete</a>
    </div>
    </div>
</div>
{% endblock %}